* {
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.series-details {
    background-color: #343434;
    margin: 20px 0;
    padding: 0;
    width: 800px;
    border-radius: 10px;
    cursor: default;
}

.basic-info {
    color: #BCBCBC;
    font-size: 18px;
    position: relative;
}

img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.title {
    color: white;
    font-size: 40px;
    margin: 10px 15px;
    padding: 0;
}

.match-score,
.year,
.duration,
.quality,
.maturity-number {
    display: inline-block;
    white-space: nowrap;
    margin-right: 0.3em;
}

.info-left {
    margin: 0 10px 10px 15px;
    display: inline-block;
}

.match-score {
    color: #46D36A;
    font-weight: bold;
}

.quality {
    color: #FFFFFFE6;
    border: 1px solid #FFFFFF66;
    border-radius: 3px;
    padding: 0 0.5em;
}

.maturity-number {
    color: white;
    margin-top: 0.4em;
    padding: 0.1em 0.3em;
    border: 1px solid #FFFFFF66;
    cursor: pointer;
}

.mature-content {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.info-right {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    width: 250px;
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 0;
}

.genres {
    display: flex;
    flex-wrap: wrap;
}

.genre {
    color: white;
    white-space: nowrap;
    margin-right: 4px;
    font-weight: bold;
}

.genre:hover {
    text-decoration: underline;
    cursor: pointer;
}

.description {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 15px;
}