* {
    box-sizing: border-box;
}

body {
    background-color: #000000F2;
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.series-details {
    background-color: #181818;
    margin: 20px 0;
    padding: 0;
    width: 800px;
    border-radius: 10px;
    cursor: default;
}

.basic-info {
    color: #BCBCBC;
    font-size: 18px;
    position: relative;
}

.info-img {
    position: relative;
    width: 100%;
}

.info-img img {
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
}

.info-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #181818, transparent 50%);
    mix-blend-mode: multiply;
}

.close-button,
.play-button,
.watchlist-button,
.like-button,
.play-episode-button {
    position: absolute;
}

.close-button {
    top: 12px;
    right: 12px;
}

.close-button svg {
    background-color: white;
    border-radius: 50px;
}

.play-button {
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 7px 10px;
    bottom: 30px;
    left: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.3s ease-in-out;
}

.play-button:hover {
    background-color: gainsboro;
    color: #000000DC;
}

.watchlist-button {
    bottom: 26px;
    left: 120px;
}

.like-button {
    bottom: 26px;
    left: 166px;
}

.watchlist-button svg,
.like-button svg {
    background-color: #252525;
    fill: #BABABA;
    border-radius: 50px;
    transition: fill 0.15s ease-in-out;
}

.watchlist-button svg:hover,
.like-button svg:hover {
    fill: white;
}

svg {
    overflow: visible;
    cursor: pointer;
}

.series-title {
    color: white;
    font-size: 40px;
    margin: 10px 15px;
    padding: 0;
}

.match-score,
.year,
.duration,
.quality,
.maturity-number {
    display: inline-block;
    white-space: nowrap;
    margin-right: 0.3em;
}

.info-left {
    margin: 0 10px 10px 15px;
    display: inline-block;
}

.match-score {
    color: #46D36A;
    font-weight: bold;
}

.quality {
    color: #FFFFFFE6;
    border: 1px solid #FFFFFF66;
    border-radius: 3px;
    padding: 0 0.5em;
}

.maturity-number {
    color: white;
    margin-top: 0.4em;
    padding: 0.1em 0.3em;
    border: 1px solid #FFFFFF66;
    cursor: pointer;
}

.mature-content {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.info-right {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    width: 250px;
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 0;
}

.genres {
    display: flex;
    flex-wrap: wrap;
}

.genre {
    color: white;
    white-space: nowrap;
    margin-right: 4px;
    font-weight: bold;
}

.genre:hover {
    text-decoration: underline;
    cursor: pointer;
}

.description {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 30px 15px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 10px 15px 5px 47px;
}

.episodes-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.episode {
    padding: 1px;
    width: 45%;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.episode:hover {
    background-color: #2F2F2F;
    box-shadow: #00000059 0px 5px 15px;
}

.episode-img {
    margin: 4px;
    position: relative;
}

.episode-img img {
    width: 100%;
    cursor: pointer;
}

.episode-info {
    margin: -20px 0 10px 0;
}

.episode-title {
    font-size: 1.8vw;
    font-weight: bold;
    margin: 0 0.5vw;
    padding: 0;
    display: inline-block;
}

.episode-description {
    font-size: 1.8dvw;
    line-height: 1.4;
    min-height: 6.5vw;
    margin: 0 0.5vw;
}

@media screen and (min-width: 830px) {
    .episode-info {
        margin: -20px 0 10px 0;
    }

    .episode-title {
        font-size: 15px;
        margin: 0 5px;
    }

    .episode-description {
        font-size: 15px;
        min-height: 110px;
        margin: 0 5px;
    }
}

.play-episode-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-episode-button svg {
    fill: white;
    transition: transform 0.15s ease-in-out, fill 0.15s ease-in-out;
}

.play-episode-button svg:hover {
    transform: scale(1.2);
    fill: #E50914;
}