$bgdWebColor: #000000F2;
$bgdSeriesDetails: #181818;
$basicInfo: #BCBCBC;
$classicWhite: white;
$playBtnHover: gainsboro;
$playBtnActive: #AEAEAE;
$bgdSvg: #252525;
$fillSvg: #BABABA;
$plainOrange: #E8630A;
$plainOrangeHover: #F7904B;
$plainGreen: #46D36A;
$plainGreenHover: #7DE097;
$quality: #FFFFFFE6;
$infoBorder: #FFFFFF66;
$epHoberBgd: #2F2F2F;
$epBoxShadow: #00000058;
$playEpBtn: #E50914;
$playEpBtnHover: #AC070F;